.class Text here
.other-class#id= "script with quote #{with_interpolation(bub)} interpolated!"

= "this may #{be} the #{dup}"
= link_to "#{ad.name.first}", url_for([ad, :ok])

No quotes #{some_var} with text
