- content_for :title do
  = ['Admin', 'Accounts', 'New'].compact.join(' - ')
.row
  .col-md-12
    %ul.breadcrumb
      %li
        = link_to root_url(subdomain: 'admin') do
          %i.fa.fa-fw.fa-home
          %span.text= t('nested.dir.nested.home')
      %li
        = link_to admin_accounts_path do
          %i.fa.fa-fw.fa-globe
          %span.text= t('nested.dir.nested.new_accounts')
      %li.active=t('Create Account')

/ main
.content
  .main-header
    %h2= t('nested.dir.nested.create_account')
  / main-content
  .main-content
    .row
      .col-md-12
        = render 'form'

%span.text= t('nested.dir.nested.job_jobid_jobqueue', :jobid => (@job.id), :jobqueue => (@job.queue))
